
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'poppins',sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: rgb(161, 150, 183);

}

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(256,256,256,0.5);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

h2{
    font-size: 2rem;
    color: #422a2a;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 50px 0;
    width: 310px;
    border-bottom: 2px solid #fff; 

}

input:focus ~ label,input:not(:placeholder-shown)~ label{
    top: -5px;
}
.inputbox label{
    position: absolute;
    top: 30px;
    left: 5px;
    transform: translateY(-50%);
    color: #422a2a;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
} 



.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #422a2a;
    font-size: 1.2em;
    top: 20px;

}

.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #422a2a;
    display: flex;
    justify-content: center;

}

.forget label input{
    margin-right: 3px;
    background-color:;

    
}

.forget p a{
    color: #422a2a;
    text-decoration: none;
    font-weight: 600;
    margin-left: 10px;
}

.forget p a:hover{
    text-decoration: underline;
}

.forget label a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 2rem;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register{
    font-size: .9em;
    color: #422a2a;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #422a2a;
    font-weight: 600;
    margin-left: 6px;
}
.register p a:hover{
    text-decoration: underline;
}